<div class="preset-manager">
  <div class="preset-grid">
    {{#each presets}}
      <div class="preset-card" data-preset-id="{{this.id}}">
        <div class="preset-name">{{this.name}}</div>
        <div class="preset-dc">DC {{this.dc}}</div>
        <div class="preset-actions">
          <button type="button"
                  data-action="editPreset"
                  data-preset-id="{{this.id}}"
                  data-tooltip="Edit preset">
            <i class="fas fa-edit"></i>
          </button>
          <button type="button"
                  data-action="deletePreset"
                  data-preset-id="{{this.id}}"
                  data-tooltip="Delete preset">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    {{/each}}
    <div class="preset-card add-new" data-action="createPreset">
      <i class="fas fa-plus"></i>
      <span>Add Preset</span>
    </div>
  </div>
</div>
