<div class="speaker-gallery layout-{{layout}}">
  {{#if empty}}
    <div class="empty-state">
      <p>No speakers yet</p>
      <p class="hint">Waiting for GM to add speakers...</p>
    </div>
  {{else}}
    {{#each speakers}}
      <div class="speaker-item {{#if (eq this.id ../activeSpeakerId)}}active{{/if}}">
        <img src="{{this.img}}" alt="{{this.name}}">
        <span class="speaker-name">{{this.name}}</span>
      </div>
    {{/each}}
  {{/if}}
</div>
